{{#each this}}
    <li class="list-item">
        <h2><a href="{{url}}">{{title}}</a></h2>
        <h3>{{company_name}}</h3>
        <p>{{created_at}}</p>
        <hr>
        {{description}}
        <hr>
        {{location}}
    </li>
{{/each}}