{{#each this}}
    <li data-id="{{id}}" class="card articles book-card">
    <img src="https://source.unsplash.com/100x100/?random={{@index}}&user,avatar,selfie" alt="avatar">
    - {{name}} <br>
    - {{phone}}<br>
    - {{email}}<br>
    </li>
{{/each}}